@import "../global/style.global.scss";

.App {
    height: 100vh;

    @include flex();

    .App__border {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
    }
}

.App {
    background-color: hsl(225, 100%, 94%);
}
